extends sup_header

block content
  .container
    h1 #{title}
    table(class='table table-striped')
      tr
        th Project Title
        th
        th Customer
        th
        th Budget
        th
        th Supervisor
        th
      each project, i in projects
        tr
          td #{project.title}
          td
          td #{project.customer}
          td
          td #{project.budget}
          td
          td #{project.sup}
          td
            a(class="btn btn-tiny btn-default" href='/manage_sup_projects/'+project._id) edit
    a.btn.btn-default(href='/sup_home') Back
